@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/scripts/kendo/jquery.min.js"></script>
    <script src="~/scripts/kendo/kendo.all.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        <h2 style="text-align:center;"><strong>訂單查詢</strong></h2>
        <form action="/Default/Result" method="post">
            <table class="table-bordered" style="width:50%; font-size:12pt;" align="center">
                <tr style="height:30px">
                    <td style="background-color:#00994C; color:white; text-align:center;">訂單編號</td>
                    <td colspan="3"><input type="text" class="k-textbox" id="OrderID" name="OrderID"></td>
                </tr>
                <tr style="height:30px">
                    <td style="background-color:#00994C; color:white; text-align:center;">客戶名稱</td>
                    <td colspan="3"><input type="text" class="k-textbox" id="CustomerName" name="CustomerName"></td>
                </tr>
                <tr style="height:30px">
                    <td style="background-color:#00994C; color:white; text-align:center;">負責員工</td>
                    <td colspan="3">
                        @Html.DropDownList("EmployeeID", (List<SelectListItem>)@ViewBag.empData, string.Empty)
                    </td>
                </tr>
                <tr style="height:30px">
                    <td style="background-color:#00994C;color:white; text-align:center;">出貨公司</td>
                    <td colspan="3">
                        @Html.DropDownList("ShipperID", (List<SelectListItem>)@ViewBag.shipperData, string.Empty)
                    </td>
                </tr>
                <tr style="height:30px">
                    <td style="background-color:#00994C; color:white; text-align:center;">訂購日期</td>
                    <td><input type="date" id="OrderDate" name="OrderDate"></td>
                    <td style="background-color:#00994C; color:white; text-align:center;">出貨日期</td>
                    <td><input type="date" id="ShippedDate" name="ShippedDate"></td>
                </tr>
                <tr style="height:30px">
                    <td style="background-color:#00994C; color:white; text-align:center;">需要日期</td>
                    <td colspan="3"><input type="date" id="RequiredDate" name="RequiredDate"></td>
                </tr>
                <tr style="height:50px">
                    <td></td>
                    <td colspan="3">
                        <input type="submit" id="submit" value="查詢" />
                        <input type="reset" id="reset" value="清除" />
                        <input type="button"  id="insert" value="新增訂單" onclick="location.href='/Default/Insert'">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
<script>
    $('#OrderDate').kendoDatePicker();
    $('#ShippedDate').kendoDatePicker();
    $('#RequiredDate').kendoDatePicker();
    $('#submit').kendoButton();
    $('#reset').kendoButton();
    $('#insert').kendoButton();
    $('#EmployeeID').kendoComboBox({
        filter: "contains",
        suggest: true,
    });
    $('#ShipperID').kendoComboBox({
        filter: "contains",
        suggest: true,
    });

</script>
</html>
