
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<script src="~/scripts/jquery-1.9.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <table class="table table-striped">
            <tr class="info">
                <td>訂單編號</td>
                <td>客戶名稱</td>
                <td>訂購日期</td>
                <td>發貨日期</td>
            </tr>
        @foreach (var @item in (List<Workshop.Models.Order>)@ViewBag.result)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.CustomerName</td>
                <td>@item.OrderDate</td>
                <td>@item.ShippedDate</td>
            </tr>
        }
    </table>
</div>
</body>
</html>
